Checks: '-*,modernize-*, readability-*, performance-*, misc-*, cppcoreguidelines-*,
         -readability-magic-numbers, 
         -cppcoreguidelines-avoid-magic-numbers, 
         -cppcoreguidelines-narrowing-conversions,
         -modernize-use-nodiscard'
WarningsAsErrors: '*'