[submodule "external/unvpp"]
	path = external/unvpp
	url = https://github.com/eigemx/unvpp.git
	branch = main

[submodule "external/vtu11"]
	path = external/vtu11
	url = https://github.com/phmkopp/vtu11

[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
